:root {
    --dark-gray: hsl(0, 0%, 9%);
}

body {
    color: white;
    font-family: "Montserrat";
    background-color: hsl(0, 0%, 15%);
}

h2 {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-shadow: 7px 7px 7px var(--dark-gray);
}

.box {
    background-color: gray;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 10px 10px 20px black;
    color:aqua;
}