:root {
    --dark-gray: hsl(0, 0%, 9%);
}

body {
    background-image: linear-gradient(rgb(53, 53, 53), rgb(14, 14, 14));
    background-attachment: fixed;
    font-family: "Montserrat";
    margin: auto;
    width: 608px;
}

.heading-box {
    /* animation-direction: forwards; */
    animation-duration: .6s;
    animation-delay: .2s;
    animation-fill-mode: both;
    animation-name: heading-popup;
    transform-origin: 100% 0%;


    position: absolute;
    width: 50%;
    top: 30px;
    right: 20px;
    padding-right: 20px;

    border-radius: 20px;
    background-color: rgba(14, 9, 5, 0.863);
    box-shadow: 10px 10px 20px black;
}


@keyframes heading-popup {
    from {scale: 0%}
    to {scale: 100%}
}


.heading-text {
    font-weight: bold;
    font-size: xx-large;
    font-size: 34px;
    text-align: right;

    background-image: linear-gradient(45deg, #ff3300, #ffb71b);
    background-clip: text;
    color: transparent;
    filter: drop-shadow(4px 4px 14px #000000);
}

.heading-backdrop {
    animation: forwards;
    animation-duration: 1s;
    animation-name: popin;
    position: relative;
    width: 100%;
    border-radius: 10px;
    clip-path: circle(176% at 10rem -30rem);
}

.heading-backdrop-wrapper {
    filter: drop-shadow(10px 10px 14px black);
}

@keyframes popin {
    from {
        clip-path: circle(66% at 10rem -30rem)
    }
    to {
        clip-path: circle(176% at 10rem -30rem)
    }
}

.box {
    background-color: gray;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 10px 10px 20px black;
    color:aqua;
}

.media {
    border-radius: 5px;
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 20px #000000;
}